<!DOCTYPE html>
<html lang="en">

<head>
  
    <link rel="stylesheet" href="css/styles.css"> <!--revisar acá cuál es la página de css correspondiente-->
    <script src="https://kit.fontawesome.com/3b21fc997b.js" crossorigin="anonymous"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>RePlantear</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    
  </head>



  
  <title>Identificador de Plantas</title>
  <!--CSS Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <!--Barra de navegación-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Replantear</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</head>
<body>
  <h2>Obtené información acerca de tu planta</h2>
      <p>Solo tenes que elegir el nombre de la planta para encontrar la siguiente info: </p>
        <ul>
          <li>Luz -  información sobre la iluminación que necesita tu planta</li>
          <li>Agua - para saber cuánto riego necesita.</li>
          <li>Suelo -  maceta o tierra?</li>
          <li>Ubicacion - de interior o exterior?</li>
        </ul><br>
        <div class="login">
          <form action="" method="POST"> <!--en action hay que poner la ruta de la función "consulta" --ver porque metodo post-->
            <label for="inputNombre">Nombre de la planta:</label><br>
            <input type="text" id="inputNombre" name="nombre" placeholder="Nombre" required><br>
            <button type="submit" class="btn btn-outline-success">Enviar consulta</button>
          </form>
        </div>
        
  
</body>
</html>